[package]
name = "aoc_2025"
version.workspace = true
authors.workspace = true
readme.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
aoc_shared = { path = "../aoc_shared" }
