[package]
name = "aoc_2018"
version.workspace = true
authors.workspace = true
readme.workspace = true
repository.workspace = true
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.7.0"
itertools = "0.10.5"
