[package]
name = "aoc_2019"
version.workspace = true
authors.workspace = true
readme.workspace = true
repository.workspace = true
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.9"
